.categories {
  display: flex;
  gap: 20px; /* Adjust the spacing between items */
}

.categories_content {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.categories_content img {
  width: 40px;
  height: 40px;
}

.categories_content h1 {
  color: #fff;
  font-size: 18px;
}
